@import './utils/variables';
@import './utils/normalize';
@import './components/backdrop';
@import './components/header';
@import './components/heroes';
@import './components/about-section';
@import './components/works-type-section';
@import './components/team-section';
@import './components/clients-section';
@import './components/filters-btns';
@import './components/projects-cardset';
@import './components/footer';
