$main-white-color: #ffffff;
$background-light-color: #f5f4fa;
$background-dark-color: #2f303a;
$main-text-color: #212121;
$secondary-text-color: #757575;
$border-color: #ececec;
$card-border-color: #eeeeee;
$accent-color: #2196f3;
$modal-bg-color: #e5e5e5;
