.about {
  // padding: 94px 0 47px 0;

  &__list {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__icon-thumb {
    display: flex;
    height: 120px;
    width: 450px;
    align-items: center;
    justify-content: center;
    background-color: $background-light-color;
  }

  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $main-text-color;

    margin-top: 30px;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__text {
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.7;

    margin-top: 10px;
  }
}

.about__item {
  display: inline-block;
  font-size: 14px;
  line-height: 1.7;
  color: $secondary-text-color;
  margin-top: 30px;
}

.antena,
.clock,
.diagram,
.astro {
  height: 70px;
  width: 70px;
}
