.header {
  border-bottom: 1px solid $border-color;
  width: 100%;
  // padding: 16px 0 16px 15px;
}

.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo__web {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $accent-color;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__studio {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  color: $main-text-color;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.active {
  color: $accent-color;
}

.header .inline-menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.menu-button {
  display: inline-block;
  margin-left: auto;

  height: 40px;
  width: 40px;
  background-color: $main-white-color;
  border: none;

  margin-top: 10px;
  margin-bottom: 10px;

  background-image: url('../../images/svg/menu_24px.svg');
  background-size: cover;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-nav__list {
  display: flex;
  flex-direction: row;
  margin-left: 88px;

  @media screen and (min-width: 768px) {
    margin-right: 84px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }
}

.header-nav__item:not(:first-child) {
  margin-left: 50px;
}

.header-nav__link {
  position: relative;

  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  z-index: 1;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: $main-text-color;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &.active::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: '';

    height: 4px;
    width: 100%;

    background-color: $accent-color;
  }
}

.header-contacts {
  padding-top: 21px;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  &__icon {
    margin-right: 5px;
    fill: $secondary-text-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header-contacts__mail,
.header-contacts__number {
  display: inline-block;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $secondary-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:focus .header-contacts__icon,
  &:hover .header-contacts__icon {
    fill: $accent-color;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
}

.header-contacts__number {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.header-contacts__mail {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 5px;
  }
}
