.header {
  border-bottom: 1px solid $border-color;
  width: 100%;
}

.header > .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo__web {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 1.2;
  color: $accent-color;
}

.logo__studio {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: $main-text-color;
}

.header-nav__list {
  display: flex;
  flex-direction: row;
  margin-left: 93px;
}

.header-nav__item:not(:first-child) {
  margin-left: 50px;
}

.header-nav__link {
  position: relative;

  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  z-index: 1;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: $main-text-color;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &.active::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: '';

    height: 4px;
    width: 100%;

    background-color: $accent-color;
  }
}

.active {
  color: $accent-color;
}

.header-contacts {
  margin-left: auto;

  &__links {
    display: inline-flex;
  }

  &__mail {
    margin-right: 50px;
  }

  &__icon {
    margin-right: 10px;
    fill: $secondary-text-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header-contacts__mail,
.header-contacts__number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: $secondary-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:focus .header-contacts__icon,
  &:hover .header-contacts__icon {
    fill: $accent-color;
  }
}
