.menu {
  position: fixed;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 48px 0 48px 40px;

  background-color: $main-white-color;

  z-index: 2;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-menu-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: $main-text-color;
  }

  &__item:not(:first-child) {
    margin-top: 32px;
  }
}

.menu__contacts {
  display: flex;
  flex-direction: column;

  &--mt {
    margin-top: 302px;
  }
}

.menu__number {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;

  letter-spacing: 0.02em;

  color: $accent-color;
}

.menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $secondary-text-color;

  &--mt {
    margin-top: 32px;
  }

  &--mb {
    margin-bottom: 64px;
  }
}

.links-list {
  display: flex;

  &__item:not(:first-child) {
    margin-left: 10px;
  }

  &__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}
