.projects {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    margin-left: -30px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: -30px;
  }

  &__thumb {
    position: relative;
    overflow: hidden;
    display: block;

    @media screen and (min-width: 480px) {
      max-width: 450px;
    }

    @media screen and (min-width: 768px) {
      max-width: 354px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 370px;
    }
  }

  &__drop-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    transform: translateY(100%);
    padding-left: 24px;
    padding-right: 24px;

    font-family: 'Roboto';
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: left;
    color: $main-white-color;

    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__text-thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 450px;
    background-color: #fff;
    border: 1px solid $card-border-color;

    padding: 20px 24px 20px 24px;
  }
}

.projects__item {
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }

  & .item-title {
    text-transform: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $main-text-color;

    margin-top: 20px;
  }

  & .projects__text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: $secondary-text-color;

    margin-top: 4px;
  }

  & .projects__img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .projects__drop-item {
    transform: translateY(0);
    opacity: 1;
  }
}
