.projects {
  display: flex;
  flex-flow: row wrap;

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__drop-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    transform: translateY(100%);
    padding: 63px 25px;

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: $main-white-color;

    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__text-thumb {
    max-width: 370px;
    background-color: #fff;
    border: 1px solid $card-border-color;
    padding: 24px;
  }
}

.projects__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & .item-title {
    text-transform: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: $main-text-color;
  }

  & .projects__text {
    font-size: 16px;
    line-height: 1.9;
    color: $secondary-text-color;
  }

  & .projects__img {
    display: block;
    max-width: 100%;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .projects__drop-item {
    transform: translateY(0);
    opacity: 1;
  }
}

.top-item {
  margin-bottom: 30px;
}

.center-item {
  margin-left: 30px;
  margin-right: 30px;
}
