.team {
  background: $background-light-color;
  padding: 94px 0 94px 0;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: $main-text-color;
  }

  &__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: $secondary-text-color;
    margin-top: 10px;
  }
}

.team__item {
  background: $main-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;

  &--thumb {
    padding-top: 30px;
  }
}

.team__icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 16px 32px 30px 32px;
}

.team__icon-item .team__link {
  display: inline-flex;
  height: 44px;
  width: 44px;

  border-radius: 50%;
  padding: 12px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover,
.team__link:focus {
  background-color: $accent-color;
  fill: $main-white-color;
}
