.works-type {
  padding: 47px 0 94px 0;
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__thumb {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-white-color;
  }
}
